# Next.js build output
.next/
out/

# Dependencies
node_modules/
/.pnp
.pnp.js

# Local Environment Variables
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js telemetry & cache
.next/cache/
*.tsbuildinfo
next-env.d.ts
